<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Affluent</title>

    {% load static %}
    <link rel="stylesheet" href="{% static 'home/style.css' %}" type="text/css">
</head>

<body>
    <div class="picture">
        <img src="top.jpg">
    </div>

    <header>
            <ul>
                <li>Home</li>
                <li>Service</li>
                <li>About</li>
                <li>Schedule</li>
            </ul>
    </header>

</body>
</html>